ul.reference,
ul.reference li {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.reference strong {
  display: block;
  padding: 11px 20px;
  font-size: 19px;
  font-weight: normal;
  text-align: center;
  background: #dee0e2;
}
ul.reference p {
  margin-bottom: 6px;
  font-size: 16px;
}
ul.reference li:nth-child(even) {
  margin-top: 10px;
  text-align: center;
}
ul.reference li:last-child strong {
  font-weight: bold;
  white-space: nowrap;
  background-color: rgba(40,161,151,0.25);
}
.reference i {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: no-repeat;
}
i.arrow { background-image: url(arrow-down.png); }
i.plus  { background-image: url(plus.png); }
@media (min-width: 769px) {
  ul.reference {
    display: table-row;
  }
  ul.reference li {
    display: table-cell;
    padding: 13px 0;
  }
  ul.reference strong {
    display: inline-block;
    min-width: 150px;
  }
  ul.reference li:nth-child(even) {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 9px;
    vertical-align: bottom;
  }
  i.arrow { background-image: url(arrow.png); }
}

.highlight {
  background: rgba(43, 140, 196, 0.25);
}
dd {
  margin-left: 0;
}
dd samp, code {
  padding: 5px 20px;
  font-size: 24px;
  font-weight: bold;
  background: #dee0e2;
}
dd samp, code {
  background: #fff;
  border: grey solid 1px;
}
p code {
  display: table;
  margin-bottom: .9em;
}
aside .page-navigation ol {
  width: 100%;
  -webkit-columns: 2;
  columns: 2;
  -webkit-column-width: 50%;
}
